<div class="row">
  <div class="input-field col s6">
    <i class="material-icons prefix">face</i>
    <input id="name{{id}}" type="text" class="validate">
    <label for="name{{id}}">Nombre {{id}}</label>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">email</i>
    <input id="email{{id}}" type="text" class="validate">
    <label for="email{{id}}">Email {{id}}</label>
  </div>
</div>